@import url(https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap);

* {
  box-sizing: border-box;

}

html,
body {
  height: 100%;
  font-family:'RocknRoll One', sans-serif;
  font-weight: 400;
  overflow: hidden;
}

body {
  background: linear-gradient(40deg, #d4d2d0 50%, #979fa1 100%);;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  display: flex;
}

.full-card {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: stretch;
  padding: 60px;
  height: 80vh;
  max-height: 600px;
  background: linear-gradient(35deg, rgb(216, 215, 215) 50%, hsl(0, 7%, 40%) 100%);
  width: 90%;
  max-width: 1300px;
  border-radius: 35px;
  box-shadow: 0 15px 20px -15px rgba(0, 0, 0, 0.3), 0 55px 50px -35px rgba(0, 0, 0, 0.3), 0 85px 60px -25px rgba(0, 0, 0, 0.1);
}

.font-card {
  position: relative;
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  background: linear-gradient(40deg, #d4d2d0 50%, #979fa1 100%);
  padding: 20px 20px;
  color: #333;
  margin: 0 15px;
  text-align: center;
  border-radius: 15px;
  box-shadow: 0 15px 20px -15px rgba(0, 0, 0, 0.3), 0 55px 50px -35px rgba(0, 0, 0, 0.3), 0 85px 60px -25px rgba(0, 0, 0, 0.1);
}

.font-card p {
  margin-top: 0;
}

.explore-button {
  font-size: 0.9em;
  background: #653a2a;
  width: 80%;
  color: white;
  display: inline-block;
  padding: 1em;
  margin-top: .1em;
  border-radius: 5em;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.15em;
}

.explore-button:hover {
  background: #956553;
}

.img {
  background-size: cover;
  max-width: 200px;
}

.img2 {
  background-size: cover;
  max-width: 200px;
}

.textBox {
  position: relative;
  width: 100%;
  height: 100%;
  margin-left: 2.5rem;
}

.textBox h2 {
  color: #333;
  font-size: 3em;
  line-height: 1.5em;
  font-weight: 500;
  margin-top: 3rem;
  margin-bottom: 0.6rem;
}

.textBox h2 span {
  color: #653a2a;
  font-size: 1.3em;
  font-weight: 600;
}

.textBox h2 span:hover {
  color: #956553;
}

.textBox p {
  color: #5d5d61;
  font-size: 15px;
  margin-bottom: 1.3rem;
}

.button-rocket {
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  width: 100%;
  border-radius: 13px;
  padding: 12px 32px;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  
  cursor: pointer;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  transition: all 0.2s ease 0s;
  background: #653a2a;
  height: 45px;
  max-width: 200px;
}

.button-rocket:hover {
  background: #724e40;
}



